extends layout

block layout-content
  div.View
    h1.Banner Bootcamp NodeJS BairesDev
    div.Message
      div.Title
        h3 Home
      span.Details Products
      
    div.NavButtons
      a(href="/report")
          div.NavButton report