extends layout

block layout-content
  div.View
    h1.text-center.m-4 Bootcamp NodeJS BairesDev
    
    div.container
      div.row   
        div.card.border-success.mx-auto.my-4.text-center.w-25
          div.card-body
            h4.card-title Report
            p.card-text Download the list of all products.
            form(name='report' action='/report' method='post')
              input.btn.btn-outline-light(type='submit' value='Products')
      